.legal-modal-title {
  text-transform: none;
  font-weight: bold;
}

.legal-modal-content {
  font-weight: initial;

  a {
    color: initial;
  }
}

.modal-footer {
  justify-content: center !important;
}
