<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title"><a [href]="repository.html_url" target="_blank">{{repository?.name}}</a></h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <p class="legal-modal-title">
            {{repository?.description}}
          </p>
      <div class="legal-modal-content">
        {{'DETAILS.LANG' | translate}}{{repository?.language || 'DETAILS.EMPTY' | translate}} &nbsp;
        {{repository?.stargazers_count}} {{'DETAILS.STARS' | translate}}</div>
      

      <div class="legal-modal-content">
        {{'DETAILS.CREATED' | translate}}{{repository?.created_at}}
      </div>
      <div class="legal-modal-content">
        {{'DETAILS.UPDATED' | translate}}{{repository?.updated_at}}
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-3" data-dismiss="modal">{{'footer.legal.close' | translate}}</button>
    </div>

  </div>
</div>