/*********** Colors ***********/

$blue-theme:#003684;
$bluetheme-hover:#002151;
$blue2-theme: #5386e4;
$blue2theme-hover: #2767dd;
$yellow-theme:#F6BD60;
$yellowtheme-hover:#f3a930;
$green-theme:#8CB369;
$greentheme-hover:#729b4e;
$red-theme:#FE4A49;
$redtheme-hover:#fe1816;
$brun-theme:#957377;
$bruntheme-hover:#795c5f;

$success-color:#17C671;
$successcolor-hover:#218838;
$warning-color:#ffc107;
$warningcolor-hover:#e0a800;
$error-color:#D6294E;
$errorcolor-hover:#c82333;
$light-color:#EEEEEE;
$lightcolor-hover:#e2e6ea;
$middle-color:#5B5959;
$middlecolor-hover:#4e4c4c;
$dark-color:#2D2C2C;
$darkcolor-hover:#23272b;

$white-color:#fff;
$dark-button-color:#212529;
